
<%= render 'shared/header' %>

<div class="form-wrapper">
  <h1>Sign up</h1>
  <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-item">
      <%= f.text_field :nickname, autofocus: true, maxlength: "6", placeholder: "nickname (6 characters maximum)" %>
    </div>

    <div class="form-item">
      <%= f.email_field :email, placeholder: "Email" %>
    </div>

    <div class="form-item">
      <%= f.password_field :password, autocomplete: "off", placeholder: "Password (6 characters minimum)" %>
    </div>

    <div class="form-item">
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password_confirmation" %>
    </div>

    <div class="button-panel">
      <%= f.submit "Sign up", class: "button" %>
    </div>
    <div class="form-footer">
      <p class="form-guideline">
        このページで利用している株式会社スクウェア・エニックスを代表とする共同著作者が権利を所有する画像の転載・配布は禁止いたします。
      </p>
      <p class="form-guideline">
        (C) ARMOR PROJECT/BIRD STUDIO/SQUARE ENIX All Rights Reserved.
      </p>
    </div>
  <% end %>
</div>