
<%= render 'shared/header' %>

<div class="form-wrapper">
  <h1>Sign In</h1>
  <%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>
    <%# エラーメッセージを表示%>
    <%#= render "devise/shared/error_messages", resource: resource %>
    <div class="form-item">
      <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
    </div>
    <div class="form-item">
      <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
    </div>
    <div class="button-panel">
      <%= f.submit "Log in", class: "button" %>
    </div>
    <div class="form-footer">
      <p class="form-guideline">
        このページで利用している株式会社スクウェア・エニックスを代表とする共同著作者が権利を所有する画像の転載・配布は禁止いたします。
      </p>
      <p class="form-guideline">
        (C) ARMOR PROJECT/BIRD STUDIO/SQUARE ENIX All Rights Reserved.
      </p>
    </div>
  <% end %>
</div>